<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Echo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Echo.Properties.Settings>
            <setting name="CurrentEncryption" serializeAs="String">
                <value>rot13</value>
            </setting>
            <setting name="CurrentChannel" serializeAs="String">
                <value>c0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>EchoUser</value>
            </setting>
        </Echo.Properties.Settings>
    </userSettings>
</configuration>